.sav-dream-body {
  width: 300px;
  padding: 50px;
  border: 1px solid #ccc;
  border-right: 10px solid #ccc;
  text-align: left;
  background: #f2f2f2;
  font-family: Manjari, sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 20px;
  margin: 20px auto 20px auto;
  border-radius: 30px;
  --main: rgba(210, 163, 44, 1);
  --sec: rgba(156, 189, 3, 1);
  --border: rgba(210, 163, 44, .2);
}
.sav-dream-header {
  padding: 10px;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #dedede;
  font-size: 50px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid var(--border);
  line-height: 85px;
}
.sav-dream-notes {
  font-size: 8px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 9px;
  font-family: Manjari, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.sav-dream-date {
  font-family: Manjari, sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.sav-dream-date::before {
  content: "[";
  margin-right: 10px;
  color: var(--main);
}
.sav-dream-date::after {
  content: "]";
  margin-left: 10px;
  color: var(--main);
}
.sav-dream-text b {
  background: -webkit-linear-gradient(45deg,var(--main) 35%,var(--sec));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sav-dream-text em {
  background: -webkit-linear-gradient(45deg,var(--main) 35%,var(--sec));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sav-dream-text s {
  text-decoration-color: var(--main);
}
.sav-dream-text u {
  text-decoration-color: var(--main);
}
#sav-dream-color { 
  color: var(--main);
}
.sav-dream-body i { 
  color: var(--main);
}

.cul-dream-body {
  width: 300px;
  padding: 50px;
  border: 1px solid #ccc;
  border-right: 10px solid #ccc;
  text-align: left;
  background: #f2f2f2;
  font-family: Manjari, sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 20px;
  margin: 20px auto 20px auto;
  border-radius: 30px;
  --main: rgba(45, 194, 143, 1);
  --sec: rgba(45, 194, 69, 1);
  --border: rgba(45, 194, 143, .2);
}
.cul-dream-header {
  padding: 10px;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #dedede;
  font-size: 50px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid var(--border);
  line-height: 85px;
}
.cul-dream-notes {
  font-size: 8px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 9px;
  font-family: Manjari, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.cul-dream-date {
  font-family: Manjari, sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.cul-dream-date::before {
  content: "[";
  margin-right: 10px;
  color: var(--main);
}
.cul-dream-date::after {
  content: "]";
  margin-left: 10px;
  color: var(--main);
}
.cul-dream-text b {
  background: -webkit-linear-gradient(45deg,var(--main) 35%,var(--sec));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cul-dream-text em {
  background: -webkit-linear-gradient(45deg,var(--main) 35%,var(--sec));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cul-dream-text s {
  text-decoration-color: var(--main);
}
.cul-dream-text u {
  text-decoration-color: var(--main);
}
.cul-dream-color { 
  color: var(--main);
}
.cul-dream-body i { 
  color: var(--main);
}

.tra-dream-body {
  width: 300px;
  padding: 50px;
  border: 1px solid #ccc;
  border-right: 10px solid #ccc;
  text-align: left;
  background: #f2f2f2;
  font-family: Manjari, sans-serif;
  font-size: 13px;
  color: #333;
  line-height: 20px;
  margin: 20px auto 20px auto;
  border-radius: 30px;
  --main: rgba(93, 171, 215, 1);
  --sec: rgba(93, 110, 215, 1);
  --border: rgba(93, 171, 215, .2);
}
.tra-dream-header {
  padding: 10px;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #dedede;
  font-size: 50px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid var(--border);
  line-height: 85px;
}
.tra-dream-notes {
  font-size: 8px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 9px;
  font-family: Manjari, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.tra-dream-date {
  font-family: Manjari, sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.tra-dream-date::before {
  content: "[";
  margin-right: 10px;
  color: var(--main);
}
.tra-dream-date::after {
  content: "]";
  margin-left: 10px;
  color: var(--main);
}
.tra-dream-text b {
  background: -webkit-linear-gradient(45deg,var(--main) 35%,var(--sec));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tra-dream-text em {
  background: -webkit-linear-gradient(45deg,var(--main) 35%,var(--sec));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tra-dream-text s {
  text-decoration-color: var(--main);
}
.tra-dream-text u {
  text-decoration-color: var(--main);
}
.tra-dream-color { 
  color: var(--main);
}
.tra-dream-body i { 
  color: var(--main);
}
